<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Update blog</title>
</head>
<body>
<h1>View blogs</h1>
<div sec:authorize="isAuthenticated()">
    <a href="/blogs">Blog list</a>
</div>

<!--<div sec:authorize="isAuthenticated()">-->
    <div>
        <label><b>Author:</b></label>
        <label th:text="${blog.getAuthor()}"></label>
    </div>
    <div>
        <label><b>Content:</b></label>
        <label th:text="${blog.getContent()}"></label>
    </div>
    <div>
        <label><b>Category:</b></label>
        <label th:text="${blog.getCategory().name}"></label>
    </div>
    <div>
        <label><b>Create time:</b></label>
        <label th:text="${blog.getCreatedAt()}"></label>
    </div>
<!--</div>-->

<div sec:authorize="isAuthenticated()">
    <a th:href="@{/logout}">Logout</a>
</div>
</body>
</html>